body {
    background-color: lightblue;
}

.titulo {
    background-color: #858a92;
    margin: 0 300px 0 300px;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr;
}

.autor {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    align-items: center;
    font-family: Andale Mono, monospace;
    margin-top: 15px;
}

.principal {
    background-color: white;
    margin: 0 300px 0px 300px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 65%;
}

.esquerda {
    background-color: #355586;
}

.foto {
    margin: 20px 50px 0px 65px;
    width: 130px;
    height: 145px;
    border-radius: 50%;
}

h3 {
    font-family: Andale Mono, monospace;
}

.contato{
    color: white;
    background-color: #858a92;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    text-transform: uppercase;
}

.informacao{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 5px;
    margin-bottom: 15px;
    width: 100%;
    align-items: center;
}

.material-icons.icone_branco{
    color: white;
}

.descricao{
    font-size: 12px;
    color: white;
    font-weight: 600;
    font-family: Andale Mono, monospace;
    margin-left: 15px;
}

a {
    text-decoration: none;
}

.informacao .descricao:hover a {
    font-size: 15px;
    border: 2px solid white;
    padding: 10px;
}

.descricao-objetivo {
    text-align: justify;
    margin: 5px 25px 10px 10px; 
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.profissao {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    margin: 5px 5px 10px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #355586;
    border-radius: 5px;
}

.topico {
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    text-align: justify;
    line-height: 25px;
    margin-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    list-style-type:circle;
}

.ponto {
    margin-bottom: 15px;
}